<div class="container">
    <div class="row">
        <div class="col-x5-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h3>Busca</h3>
            <div class="class from-group">
                <label for="search">
                    <input type="search" class="class form-control" placeholder="Digite sua busca"
                  [(ngModel)]="busca" (ngModelChange)="search($event)">
                </label>
            </div>
            <ul class="list-group">
                <li class="list-group-item cursor-pointer" *ngFor="let c of contatos | async" (click)="verDetalhe(c)">
                    {{c.nome}}
                </li>                
            </ul>
        </div>
    </div>
</div>