<div class="container"> 
    <div class="row">
        <div class="col-xs-12 col sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>Meus Contatos</h2>
            
            <div [ngClass]="classeCss" role="alert" *ngIf="mensagem">
                <span [ngSwitch]="mensagem.tipo">
                    <strong *ngSwitchCase="'danger'">Erro!</strong>
                    <strong *ngSwitchCase="'warning'">Alerta!!</strong>
                    <strong *ngSwitchCase="'success'">Sucesso!</strong>
                    <strong *ngSwitchDefault>Informação!</strong>
                </span>
                 {{mensagem.texto}}
            </div>

            <a href="#" class="btn btn-success" routerLink="/contato/save">Novo</a>
            <br><br>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngIf="contatos.length == 0">
                            <td colspan="4">Nenhum registro encontrado.</td>
                        </tr>
                    <tr *ngFor="let c of contatos" [routerLink]="['/contato/save', c.id]">
                        <td>{{c.nome}}</td>
                        <td>{{c.email}}</td>
                        <td>{{c.telefone}}</td>
                        <td><button class="btn btn-danger" (click)="onDelete(c); $event.stopPropagation()">Deletar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>